<div class="row">
  <div class="col-sm-11">
    <ng-template #conferenceTemplate let-conference>{{conference.label}}</ng-template>
    <app-select [options]="conferences$ | async" [optionTemplate]="conferenceTemplate" (selectionChange)="onConferenceChange($event)"></app-select>

    <ng-template #optionTeamTemplate let-team>{{team.full_name}}</ng-template>
    <app-select [options]="teams$ | async" [optionTemplate]="optionTeamTemplate" (selectionChange)="setTeam($event)"></app-select>

    <button class="primary" (click)="trackTeam()">Track team</button>
  </div>

</div>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team">

  </app-team-stats>
</div>
